* {
    margin:0;
    padding:0;
    box-sizing: border-box;
}

.bebas-neue-regular {
    font-family: "Bebas Neue", serif;
    font-weight: 400;
    font-style: normal;
}
.comfortaa {
    font-family: "Comfortaa", serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
  }
                                         /*MAIN PAGE SECTION*/
.hero-section{
    height: 100vh;
    position: relative;
}
video {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
}



.hero-content{
    display:flex;
    position:relative;
    flex-wrap: wrap;
    justify-content:space-between;
    align-items:center;
    margin:0 50px;
    height:100vh;
}
                                         /*LEFT HERO SECTION*/

#cubicle::before {
    z-index:111;
    content :"";
    position: absolute;
    inset: 0;
    margin:-10px;
    background: var(--c,red);
    --_g: #0000 90deg,#000 0;
    --_p: var(--w) var(--w) no-repeat;
    --c:rgb(255, 94, 0);--w:10px;--b:10px;
    --mask:
      conic-gradient(from 90deg  at top    var(--b) left  var(--b),var(--_g)) 0    0    / var(--_p),
      conic-gradient(from 180deg at top    var(--b) right var(--b),var(--_g)) 100% 0    / var(--_p),
      conic-gradient(from 0deg   at bottom var(--b) left  var(--b),var(--_g)) 0    100% / var(--_p),
      conic-gradient(from -90deg at bottom var(--b) right var(--b),var(--_g)) 100% 100% / var(--_p);
      -webkit-mask: var(--mask);
              mask: var(--mask);
              
  }                                        
.banner{
    background:rgba(255, 255, 255, 0.3);
    
    height:100vh;
    display:flex;
    flex-direction: column;
    flex:0.89;
    gap:2em;
    padding:150px 50px;
    position:relative;
    
}
.bannertext{
    line-height: .8cm;
}

  
.banner h1{
    color:black;
    line-height: 1.8cm;
    font-family:Bebas Neue;
    font-size:80px;
    letter-spacing: 0.01cm;
}
.banner h2{
    color:rgb(53, 51, 51);
    font-weight:700;
    font-family:Bebas Neue;
    font-size:20px;
    letter-spacing: 0.01cm;
}
.banner button{
    text-align:center;
    height:60px;
    width:200px;
    z-index:121;
    background:rgba(255, 255, 255, 0.3);
    color:#ffffff;
    border-style: none;
    font-weight:200;
    font-family:Bebas Neue;
    font-size:26px;
    cursor: pointer;
    position:relative;
    letter-spacing:.05cm;
    box-shadow: inset 5px 0 0 0 #ff4c20;
    -webkit-transition: ease-in .5s;
    -moz-transition: ease-in .5s;
    transition: ease-in .5s;
}


  .banner button:hover {
    box-shadow: inset 300px 0 0 0 #ff4c20;
    /* cursor: url(dollar.png), auto; */
  }
 

                                        /*RIGHT HERO SECTION*/
.header{ 
    width:580px;
    height:60px;
    background:black;
    display:flex;
    align-items:center;
    position:relative;
    justify-content: space-evenly;
}
.navbar a{
    margin:0 25px;
    color:#fff;
    text-decoration: none;
    font-family: Bebas Neue;
    font-size:18px;
    letter-spacing: 0.05cm;
}
a:hover{
    color:#919191;
}


                                        /* HERO FOR MOBILES */
 @media only screen and (max-width: 600px) {
    .hero-content{
        justify-content: center;

    } 
    .banner button{
        width:200px;
        height:50px;
    }
    .banner{
        padding:0px 50px;
        line-height: 1.4cm;
        align-items:center;    
        text-align:left;
        justify-content: center;
        gap:1.5em;
        max-height:55%;  
    }
    .banner h1{
        color:black;
        line-height: 1.1cm;
        font-family:Bebas Neue;
        font-size:50px;
        letter-spacing: 0cm;
        
    }
    .banner h2{
        color:rgb(53, 51, 51);
        font-family: Bebas Neue;
        line-height: 0.5cm;
        font-size:16px;
        letter-spacing: 0.01cm;
    }
    .header{
        display:none;
    }
 
  
  } 

                                        /* SERVICE SECTION */

  .service-section{
    display:flex;
    flex-direction: column;
    gap:.6em;
    background: #000;
}
 
.paragraph h1{
    padding:4% 0 0 6%;
    font-family: Bebas Neue;
    font-size: 3rem;
    font-weight:300;
    color:#ffffff;
    letter-spacing: 0.1cm;
}
   
.box{
    display:flex;
    align-items:center;
    justify-content: center;
    height:80vh;
    gap:.7em;
    background:black;
}
.box img{
    width:100%;
    height:100%;
    object-fit:cover;
    
}
mark.orange {
    color:#ff5e00;
    background: none;
}
.image{
    background:black;
    height:80vh;
    flex:1;
}
.text{
    position:relative;
    background:#111;
    height:80vh;
    flex:1;
    display:flex;
    align-items:left;
    justify-content: center;
    text-align:start;
    flex-direction: column;
    padding:10% 10%;
}
.text h1{
    line-height: 2.7cm;
    font-family:Tourney;
    font-size:8em;
    color:#2c2c2c;
    font-weight:300;
}
.text h2{
    font-family:Goldman;
    font-size:2em;
    color:#dfdfdf;
    font-weight:300;
    line-height: .7cm;
}
.text h3{
    font-family:Comfortaa;
    font-size:1em;
    color:#9b9b9b;
    font-weight:300;
    
}


@media only screen and (max-width: 600px) {
    .paragraph{
       
        
        display:flex;
        align-items:center;
        justify-content: center;
     }
     .paragraph h1{
        padding:5% 0 3% 0;
        font-size: 2rem;
    }
    
     .text h1{
        font-size:6em;
        line-height: 1.7cm;
     }
     .text h2{
        font-size:1.5em;
        line-height: .5cm;
    }
    .text h3{
        font-size:.8em;
        line-height: .4cm;
    }
}


                                        /* PRICE SECTION */
.price-section{
    height:100vh;
    position:relative;
background:black;
}

.paragraph2 h1{
    padding:4% 0 1% 6%;
    font-family: Bebas Neue;
    font-size: 3rem;
    font-weight:300;
    color:#ffffff;
    letter-spacing: 0.1cm;
    
}
.price-section img{
    width:100%;
    height:100%;
    object-fit: cover;
    filter:brightness(10%);
    position:relative;
    z-index:1;
}

.price-content{
    gap:.5em;
    display:flex;
    align-items: center;
    justify-content:center;
    color:white;
   position:absolute;
   z-index:2;
   height:100vh;
   width:100%;
   padding:0 8em;
   font-family: Comfortaa;
   letter-spacing: -0.05cm;
   word-spacing: .1cm;
}
.type{
    flex:1;
}
.price{
    flex:1;
}
.type h2{
    
    margin:2em 0;
    border-bottom: 4px rgb(255, 94, 0) solid;
}
.price h2{

    text-align: end;
    margin:2em 0;
    letter-spacing: 0cm;
    border-bottom: 4px rgb(70, 70, 70) solid;
}






@media only screen and (max-width: 600px) {
    .paragraph2{
       
        
        display:flex;
        align-items:center;
        justify-content: center;
     }
     .paragraph2 h1{
        padding:5% 0 4% 0;
        font-size: 2rem;
    }

    .price-content{
     
       padding:0 5em;
 
       font-size:10px;
    }
    .type{
        flex:3;
    }
    .price{
        flex:1;
    }
    .type h2{
    
        margin:3em 0;
        border-bottom: 3px rgb(255, 94, 0) solid;
    }
    .price h2{
    
        
        margin:3em 0;
        
        border-bottom: 3px rgb(70, 70, 70) solid;
    }
   
}


