* {
    margin:0;
    padding:0;
    box-sizing: border-box;
}
body{
    background:black;
}
.bebas-neue-regular {
    font-family: "Bebas Neue", serif;
    font-weight: 400;
    font-style: normal;
}
.comfortaa {
    font-family: "Comfortaa", serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
  }
                                         /*MAIN PAGE SECTION*/
.hero-section{
    height: 100vh;
    position: relative;
}
video {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
}



.hero-content{
    display:flex;
    position:relative;
    flex-wrap: wrap;
    justify-content:space-between;
    align-items:center;
    margin:0 50px;
    height:100vh;
}
                                         /*LEFT HERO SECTION*/

#cubicle::before {
    content :"";
    position: absolute;
    inset: 0;
    margin:-10px;
    background: var(--c,red);
    --_g: #0000 90deg,#000 0;
    --_p: var(--w) var(--w) no-repeat;
    --c:rgb(255, 94, 0);--w:10px;--b:10px;
    --mask:
      conic-gradient(from 90deg  at top    var(--b) left  var(--b),var(--_g)) 0    0    / var(--_p),
      conic-gradient(from 180deg at top    var(--b) right var(--b),var(--_g)) 100% 0    / var(--_p),
      conic-gradient(from 0deg   at bottom var(--b) left  var(--b),var(--_g)) 0    100% / var(--_p),
      conic-gradient(from -90deg at bottom var(--b) right var(--b),var(--_g)) 100% 100% / var(--_p);
      -webkit-mask: var(--mask);
              mask: var(--mask);
              
  }                                        
.banner{
    background:rgba(255, 255, 255, 0.3);
    
    height:100vh;
    display:flex;
    flex-direction: column;
    flex:0.89;
    gap:2em;
    padding:150px 50px;
    position:relative;
    
}
.bannertext{
    line-height: .8cm;
}

  
.banner h1{
    color:black;
    line-height: 1.8cm;
    font-family:Bebas Neue;
    font-size:80px;
    letter-spacing: 0.01cm;
}
.banner h2{
    color:rgb(53, 51, 51);
    font-weight:700;
    font-family:Bebas Neue;
    font-size:20px;
    letter-spacing: 0.01cm;
}
.banner button{
    text-align:center;
    height:60px;
    width:200px;
    z-index:100;
    background:rgba(255, 255, 255, 0.3);
    color:#ffffff;
    border-style: none;
    font-weight:200;
    font-family:Bebas Neue;
    font-size:26px;
    cursor: pointer;
    position:relative;
    letter-spacing:.05cm;
    box-shadow: inset 5px 0 0 0 #ff4c20;
    -webkit-transition: ease-in .5s;
    -moz-transition: ease-in .5s;
    transition: ease-in .5s;
}


  .banner button:hover {
    box-shadow: inset 300px 0 0 0 #ff4c20;
    /* cursor: url(dollar.png), auto; */
  }
 

                                        /*RIGHT HERO SECTION*/
.header{ 
    width:580px;
    height:60px;
    background:black;
    display:flex;
    align-items:center;
    position:relative;
    justify-content: space-evenly;
}
.navbar a{
    margin:0 25px;
    color:#fff;
    text-decoration: none;
    font-family: Bebas Neue;
    font-size:18px;
    letter-spacing: 0.05cm;
}
a:hover{
    color:#919191;
}


                                        /* HERO FOR MOBILES */
 @media only screen and (max-width: 600px) {
    .hero-content{
        justify-content: center;

    } 
    .banner button{
        width:200px;
        height:50px;
    }
    .banner{
        padding:0px 50px;
        line-height: 1.4cm;
        align-items:center;    
        text-align:left;
        justify-content: center;
        gap:1.5em;
        max-height:55%;  
    }
    .banner h1{
        color:black;
        line-height: 1.2cm;
        font-family:Bebas Neue;
        font-size:50px;
        letter-spacing: 0.01cm;
        
    }
    .banner h2{
        color:rgb(53, 51, 51);
        font-family: Bebas Neue;
        line-height: 0.5cm;
        font-size:16px;
        letter-spacing: 0.01cm;
    }
    .header{
        display:none;
    }
 
  
  } 



  .service-section{
    margin-top:.5em;
    height: 100vh;
    position: relative;
}
 .paragraph{
    background:rgba(27, 27, 27, 0.733);
    width:100%;
    height:20%;
 }
.paragraph h1{
    padding:3% 0 0 6%;
    font-family: Goldman;
    font-size: 3rem;
    font-weight:300;
    color:#dfdfdf;
}
/* .service-content{
    height:80vh;
    position: relative;
    display:flex;
    flex-wrap:wrap;
    align-items:center;
    justify-content: center;
    gap:2em;
}
.box{
    height:350px;
    width:350px;
    background:rgba(0, 0, 0, 0.055);
    display:flex;
    justify-content:baseline;
    flex-direction: column;
    text-align:left;
}
.box img{
    width:100%;
    height:70%;
    object-fit:cover;
    
}
.boxtext h2{
    font-family: Bebas Neue;
    margin:0 1em;
}
.box button{
    
    margin:.5em 1.6em;
}
@media only screen and (max-width: 600px) {
    .box{
        height:250px;
        width:250px;
        background:rgba(0, 0, 0, 0.055);
        display:flex;
        justify-content:baseline;
        flex-direction: column;
        text-align:left;
    
    }
} */
.box{
    display:flex;
    align-items:center;
    justify-content: center;
    height:82vh;
    gap:.7em;
    background:black;
}
.box img{
    width:100%;
    height:100%;
    object-fit:cover;
    
}
.image{
    background:black;
    height:80vh;
    flex:1.5;
}
.text{
    
    background:#111;
    height:80vh;
    flex:1;
    display:flex;
    align-items:left;
    justify-content: center;
    text-align:start;
    flex-direction: column;
    padding:10% 10%;
}
.text h1{
    line-height: 2.7cm;
    font-family:Tourney;
    font-size:8em;
    color:#2c2c2c;
    font-weight:300;
}
.text h2{
    font-family:Goldman;
    font-size:2em;
    color:#dfdfdf;
    font-weight:300;
    line-height: .7cm;
}
.text h3{
    font-family:Goldman;
    font-size:1em;
    color:#9b9b9b;
    font-weight:300;
    
}


@media only screen and (max-width: 600px) {
    .paragraph{
        background:rgba(27, 27, 27, 0.733);
        width:100%;
        height:10%;
        display:flex;
        align-items:center ;
        justify-content: center;
     }
     .paragraph h1{
        padding:0 0 ;
        font-family: Goldman;
        font-size: 2rem;
        font-weight:300;
        color:#dfdfdf;
    }
    
     .text h1{
        font-size:6em;
        line-height: 1.7cm;
     }
     .text h2{
        font-family:Goldman;
        font-size:1.5em;
        color:#dfdfdf;
        font-weight:300;
        line-height: .5cm;
    }
    .text h3{
        font-family:Goldman;
        font-size:.8em;
        color:#9b9b9b;
        font-weight:300;
        line-height: .4cm;
    }
}
